.scrollToTop {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrollToTop > button {
    opacity: 0.5;
    transition: 0.5s;
}

.scrollToTop > button:hover {
    opacity: 0.9;
    transition: 0.5s;
}