.App {
  background-color: rgba(34, 34, 34);
  height: 120%;
  min-height: 100vh;
  color: white;
  font-family: inherit;
  text-shadow: black;
}

.card-body {
    padding: 0.5rem 0rem 1rem 0rem !important;
}

.heart-checkbox {
  width: 1.5rem !important;
  height: 1.5rem !important;
  border-radius: 50% !important;
  margin: 0.5rem 0px !important;
  border-color: transparent !important;
  /* box-shadow: 0 0 3rem rgb(0 0 0 / 30%) !important; */
}

.heart-checkbox::after {
  width: 1.5rem !important;
  height: 1.5rem !important;
  left: 14px !important;
  bottom: 10px !important;
  border-color: transparent !important;
}

.heart-checkbox::before {
  width: 1.5rem !important;
  height: 1.5rem !important;
  right: -14px !important;
  top: 0px !important;
  border-radius: 0px !important;
  border-color: transparent !important;
}

.heart-checkbox.checked {
  background-color: rgb(255, 0, 0) !important;
  border-color: transparent !important;
}
.heart-checkbox.checked::after {
  background-color: rgb(255, 0, 0) !important;
  border-color: transparent !important;
}

.heart-checkbox.checked::before {
  background-color: rgb(255, 0, 0) !important;
  border-color: transparent !important;
}

@media (min-width: 10px){
.navbar-expand-lg {
    flex-flow: nowrap;
    justify-content:first baseline;
}
}